body {
    max-width: 375px;
    margin: 0 auto 0 auto;

}

#main-block {
    height: 1024px;
    /* max-width: 375;
    min-width: 278; */
    border-radius: 0px;
    background-image: url("Background_image.png");
    background-position: center;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
    z-index: 0;

}

#main-block::after {
    height: 1024px;
    border-radius: 0px;
    background: rgba(33, 33, 33, 1);
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
    align-items: center;
}

#header-text {
    font-family: Inter;
    font-size: 30px;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 37px;
    padding-left: 32px;
    
}

#hamburger-icon {
    display: inline-block;
    cursor: pointer;
    padding-right: 32px;
  }
  
#hamburger-icon span {
    display: block;
    width: 27px;
    height: 3px;
    margin-bottom: 5px;
    background-color: white;
}
  

  
#text-box {
    margin-top: 216px;
    margin-left: 32px;
    margin-right: 32px;
}


#white-box {
    height: 15px;
    width: 90px;
    background: #FFFFFF;

}

#title {
    font-family: Libre Caslon Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 32px;
}

#description {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF;
}


#learn-more-button {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 32px;
    color: #FFFFFF;
    height: 42px;
    width: 153px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
}

#newest-reads {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #000000;
    margin: 78px 0px 78px 0px;
    align-self: flex-start;

}

#card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 32px; */
    padding-left:32px;
    padding-right:32px;
    width:311px;
    border: 0px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 311px;
    justify-content: center;
    border: 1px solid #DDDDDD;
    margin-bottom: 32px;

}

/* .card-image {
    width: cover;
}  */

.card-date {
    color: #B7B7B7;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    padding-top: 35px;
    padding-left: 32px;
    padding-bottom: 28px;
    
}

.card-text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    padding-left: 32px;
    padding-right: 32px;

}

.read-more {
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #D9852C;
    padding-top: 18px;
    padding-bottom: 32px;
    padding-right: 32px;
    align-self: flex-end;
}

