/* Extra small devices (mobile) */
/* @media screen and (max-width: 576px) {} */



body {
    max-width: 375px;
    margin: 0 auto 0 auto;
}

#main-block {
    max-width: 1440;
    height: 1024px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.bg-image {
    width: 100%;
    height: 100%;
    background-image: url("Background_image.png");
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.image-overlay {
    height: 1024px;
    object-fit: cover;
    background: rgba(33, 33, 33, 0.5);
    background-position: center;

}


#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
    align-items: center;
}

#header-text {
    font-family: Inter;
    font-size: 30px;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 37px;
    padding-left: 32px;

}

#navbar {
    display: none;
}

#hamburger-icon {
    display: inline-block;
    cursor: pointer;
    padding-right: 32px;
}

#hamburger-icon span {
    display: block;
    width: 27px;
    height: 3px;
    margin-bottom: 5px;
    background-color: white;
}


#text-box {
    margin-top: 216px;
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
}


#white-box {
    height: 15px;
    width: 90px;
    background: #FFFFFF;

}

#title {
    font-family: Libre Caslon Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 32px;
}

#description {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 32px;
}


.button {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    /* margin-top: 32px; */
    color: #FFFFFF;
    height: 42px;
    width: 153px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    cursor: pointer;
}

#newest-reads {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #000000;
    margin: 78px 0px 78px 32px;
}

#card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 311px;
    border: 0px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 311px;
    justify-content: center;
    border: 1px solid #DDDDDD;
    margin-bottom: 32px;

}

.card-date {
    color: #B7B7B7;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    padding-top: 35px;
    padding-left: 32px;
    padding-bottom: 28px;

}

.card-text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    padding-left: 32px;
    padding-right: 32px;

}

.read-more {
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #D9852C;
    padding-top: 18px;
    padding-bottom: 32px;
    padding-right: 32px;
    align-self: flex-end;
    cursor: pointer;
}

/* Small devices (mobile/tablets) */

@media screen and (min-width: 744px) and (max-width: 1350px) {

    body {
        max-width: 1350px;
        margin: 0 auto 0 auto;
    }

    #text-box {
        margin-left: 72px;
        margin-right: 72px;
        max-width: 600px;
    }

    #title {
        font-size: 70px;
        line-height: 86px;
    }

    #description {
        max-width: 528px;
    }

    #newest-reads {
        font-size: 30px;
        line-height: 36px;
        /* margin-left: 72px; */
        margin: 89px 0px 56px 72px;
    }

    #card-container {
        display: flex;
        flex-direction: row;
        justify-content: wrap;
        padding-left: 72px;
        padding-right: 72px;
        border: 0px;
        max-width: 1350px;
        gap: 20px;

    }

    .card {
        display: flex;
        flex-direction: column;
        /* max-width: 187px; */
        width: calc((100% - 40px - 6px)/3);
        /* width: 100%; */
        justify-content: flex-start;
        border: 1px solid #DDDDDD;
        height: 635px;

    }

    .card-image {
        /* height: 352px; */
        height: 352px;
        /* width: 187px; */
        width: auto;
        overflow: hidden;
    }


    .card-image img {
        /* flex:0;
        object-fit: fill; */
        height: 100%;
        width: 100%;

    }

    .card-text {
        font-size: 15px;
        line-height: 18px;
    }


    .card>div:last-child {
        margin-top: auto;
    }

}

/* Medium devices (tablets/laptops) */
@media screen and (min-width: 1350px) {

    body {
        max-width: 1800px;
        margin: 0 auto 0 auto;
    }

    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 35px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        color: #FFFFFF;
        padding-right: 27px;
        cursor: pointer;
    }

    #text-box {
        margin-left: 72px;
        margin-right: 72px;
        width: 600;
    }

    #title {
        font-size: 80px;
        line-height: 99px;
        width: 748px;
    }

    #description {
        width: 528px;
    }

    #hamburger-icon {
        display: none;
    }

    #newest-reads {
        font-size: 40px;
        line-height: 48px;
        margin: 89px 0px 44px 72px;
    }

    #card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 72px;
        padding-right: 72px;
        border: 0px;
        max-width: 1800px;
        gap: 20px;
        flex-wrap: wrap;

    }

    .card {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        width: calc((100% - 40px - 6px)/3);
        /* width: 100%; */
        justify-content: flex-start;
        border: 1px solid #DDDDDD;
        height: 635px;
        margin-bottom: 60px;

    }

    .card-image {
        height: 352px;
        /* height: 50%; */
        width: wrap;
        overflow: hidden;
        object-fit: cover;
    }


    .card-image img {
        /* flex:0;
        object-fit: fill; */
        height: 100%;
        width: 100%;
        object-fit: cover;

    }

    .card-text {
        font-size: 25px;
        line-height: 31px;
    }


    .card>div:last-child {
        margin-top: auto;
    }

}